.ocrProcessContainer {
  display: none;
}

.cameraContainer {
  display: none;
  font-size: 16px;
  position: relative;
}

 #video {
  width: 100vw;
  height: calc(100vw / 1.333);
}

#canvas {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 5px;
  width: 100px;
  opacity: 0;
  border: 1px solid #333;
  border-radius: 4px;
}

.maximizedCanvas {
  bottom: 4px !important;
  left: -1px !important;
  width: 100vw !important;
  border-radius: 0 !important;
}

#startbutton {
  display: block;
  width: 60px;
  height: 60px;
  transform: translate(50%,-50%);
  position: absolute;
  right: 50%;
  bottom: -20px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 6px 2px #222;
  background-color: transparent;
}




.settingsContainer{
  display: none;
  justify-content: space-between;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding-bottom: 5px;
}

.showSettingsContainer{
  display: flex;
}

.settingOption {
  width: 50%;
  text-align: center;
}

.textLabel  {
  font-size: 1.2rem;
  padding: 5px 0px;
}

.threshold {
  display: none;
  background-color: #333;
  font-size: 1rem;
  padding: 5px 0;
  text-align: center;
  color: #fff;
}

#thresholdValue {
  display: inline;
  width: 38px;
}



/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(21px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}