.cameraContainer {
  display: none;
  font-size: 16px;
  position: relative;
  height: calc(100% / 1.33333);
  background-color: #333;
}

#video {
  width: 100%;
  height: calc(100% / var(--aspectRatio));
}

#canvas {
  display: none;
  position: absolute;
  bottom: 8px;
  left: 8px;
  width: 100px;
  opacity: 0;
  border-radius: 4px;
}

#takePhoto {
  display: block;
  width: 60px;
  height: 60px;
  transform: translate(50%,-50%);
  position: absolute;
  right: 50%;
  bottom: -20px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 6px 2px #222;
  background-color: transparent;
}

.ocrProcessContainer {
  display: none;
  position: relative;
}

.ocrBtnContainer {
  display:flex; 
  justify-content:space-between;
  border-bottom: solid 1px #555;
  padding: 4px 18px;
  background-color: #333;
}

.ocrBtn {
  display: block;
  height: 22px;
  box-sizing: border-box;
  background-color: #333;
  color: var(--controlsColor);
  border: transparent;
}

.maximizedCanvas {
  display: block !important;
  position: relative !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: calc(100% / var(--aspectRatio));
  border-radius: 0 !important;
}

.settingsContainer{
  display: none;
  justify-content: space-between;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding-bottom: 5px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.showSettingsContainer{
  display: flex;
}

.settingOption {
  width: 50%;
  text-align: center;
}

.textLabel  {
  font-size: 1.2rem;
  padding: 5px 0px;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--controlsColor);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--controlsColor);
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(21px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}