/* #video {
  width: 320px;
  height: 240px;
} */

#photo {
  position: absolute;
  width: 93px;
  height: 70px;
  bottom: 10px;
  left: 10px;
  opacity: 0;
  border: 1px solid #222;
}

#canvas {
  display: none;
}

.videoContainer {
  margin: 0 auto;
}

#startbutton {
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: 10px;
  background-color: transparent;
  box-shadow: inset 0px 0px 6px 1px #222;
  font-size: 14px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  right: 43%;
}

.cameraContainer {
  display: none;
  font-size: 16px;
  position: relative;
}

.ocrProcessContainer {
  display: none;
}