:root {
  font-family: 'Montserrat', sans-serif;
}

.hidden {
  display: none !important;
}

.show {
  display: block !important;
}

header {
  display: block;
  background-color: #4d1476;
  color: #fff;
  height: 4.2rem;
}

header img {
  display: inline-block;
  position: absolute;
  width: 100px;
}

header h1 {
  display: block;
  height: 100%;
  text-align: center;
  font-size: 34px;
  padding-top: 17px;
}

.optionBtn {
  display: flex;
  justify-content: space-around;
}
.scannerBtn, .cameraBtn {
  width: 70px;
  height: 37px;
  margin: 2px;
  background-color: #B2A7B8;
  color: white;
  border: solid 1px;
  border-radius: 5px;
}

.optionBtn-selected {
  background: linear-gradient(90deg, rgba(255,96,0,.6) 0%, rgba(255,75,110,.6) 49%, rgba(195,9,43,.6) 100%)
}

#myProgress {
  width: 100%;
  background-color: #B2A7B8;
}

#myBar {
  width: 0%;
  height: 4px;
  background-color:#0097D1
}

.containerCapturados {
  background-color: #333;
  border: 1px solid #333 ;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 5px;
  font-size: 0.8em;
  column-count: 3;
  column-gap: .8em;
  column-rule: 1px solid #555;
  font-weight: 600;
  position: relative;
}

.capturados-aprovado {
  background-color: rgb(67, 223, 67);
  padding: 4px 2px;
  margin: 4px 0;
  border-radius: 2px;
}

.capturados-reprovado {
  background-color: rgb(253, 59, 98);
  padding: 4px 2px;
  margin: 4px 0;
  border-radius: 2px;
}

.capturados-pendente {
  color: white;
  padding: 4px 2px;
  margin: 4px 0;
  border-radius: 2px;
}

.form {
  text-align: center;
}

.inSerial {
  width: 60%;
  height: 4rem;
  text-align: center;
  font-size: 36px;
  font-weight: 800px;
  margin: .7rem 0;
  text-transform: uppercase;
  border: solid 1px;
  border-radius: 3px;
}

.inputSerial, .inputTipos, .inputFalhas {
  margin: 4rem 0;
}

.inputFalhas {
  display: none;
}

.toggleInputFalhas {
  display: block;
}

.btnTipoContainer {
  display: flex;
  justify-content: space-evenly;
  margin: .7rem 10px;
}

.selectTipo {
  font-size: 20px;
  width: 30%;
  height: 3rem;
  border: solid 1px;
  border-radius: 3px;
  background-color: #eee;
}

.selectTipo:hover {
  background-color: #ddd;
}

label {
  font-size: 30px;
  font-weight: 600;
}

.LabelContainer, .inputContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 0 10px;
}

.labelCiclo, .labelFalha, .inFalha, .inCicloTest, .inCicloPass {
  font-size: 20px;
  width: 30%;
  text-align: center;
  padding: 6px 1px;
  vertical-align: middle;
}

.inFalha, .inCicloTest, .inCicloPass{
  height: 3rem;
  text-transform: uppercase;
  border: solid 1px;
  border-radius: 3px;
  border-color: #4d1476;
  box-sizing: border-box;
}

.btSubmit {
  background: linear-gradient(90deg, rgba(255,96,0,1) 0%, rgba(255,75,110,1) 49%, rgba(195,9,43,1) 100%);
  font-size: 22px;
  color: #fff;
  border: solid 1px;
  border-radius: 3px;
  width: 50%;
  height: 3rem;
}

.linksContainer {
  display: flex;
  justify-content: center; 
}

.goToSheetDB{
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  box-sizing: border-box;
  height: 36px;
  background-color: #4d1476;
  color: white;
  padding: 10px 10px;
  border-width: 0;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-decoration: none;
  margin-bottom: 10px;
}

.alert-success, .alert-warning {
  position: fixed;
  width: 100%;
  bottom: -100px;
  padding: 20px 10px;
  transition: 1s ease-in-out;
  color: white;
  opacity: 0;
  text-align: center;
}

.show-success {
  display: block;
  transition:  1s ease-in-out;
  background-color: #60BAAE;
  opacity: 1;
  position: fixed; 
  bottom:0;
  width:100%; 
}

.show-warning {
  display: block;
  transition:  1s ease-in-out;
  background-color: #ff9800;
  opacity: 1;
  position: fixed; 
  bottom:0;
  width:100%; 
}