:root {
  font-family: 'Montserrat', sans-serif;
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .hidden {
  display: none !important;
}

#installContainer {
  position: absolute;
  bottom: 1em;
  display: flex;
  justify-content: center;
  width: 100%;
}

#installContainer button {
  background-color: inherit;
  border: 1px solid white;
  color: white;
  font-size: 1em;
  padding: 0.75em;
} */

header {
  display: block;
  background-color: rgb(77, 20, 118);
  color: #fff;
  height: 4rem;
}

header img {
  display: inline-block;
  position: absolute;
  width: 100px;
}

header h1 {
  display: block;
  height: 100%;
  text-align: center;
  font-size: 34px;
  padding-top: 17px;
}

.optionBtn {
  display: flex;
  justify-content: space-evenly;
}
.scannerBtn, .camBtn {
  width: 70px;
  height: 30px;
  margin: 5px;
  border: solid 1px;
  border-radius: 3px;
  border-color: rgb(77, 20, 118);
}

.form {
  text-align: center;
}

.inputSerial, .inputTipos, .inputFalhas {
  margin: 1.2rem 0;
}

.inputFalhas {
  display: none;
}

.toggleInputFalhas {
  display: block;
}

.inSerial {
  width: 72%;
  height: 3rem;
  text-align: center;
  font-size: 26px;
  margin: .7rem 0;
  text-transform: uppercase;
  border: solid 1px;
  border-radius: 3px;
  border-color: rgb(77, 20, 118);
}

.btTipoContainer {
  display: flex;
  justify-content: space-evenly;
  margin: .7rem 0;
}

.selectTipo {
  font-size: 20px;
  width: 30%;
  height: 3rem;
  border: solid 1px;
  border-radius: 3px;
  border-color: rgb(77, 20, 118);
  background-color: #eee;
}

.selectTipo:hover {
  background-color: #ddd;
}

label {
  font-size: 26px;
  font-weight: 600;
}

.LabelContainer, .inputContainer {
  display: flex;
  justify-content: space-evenly;
}

.labelCiclo, .inCicloTest, .inCicloPass, .labelFalha, .inFalha {
  font-size: 20px;
  width: 30%;
  text-align: center;
  padding: 6px 1px;
  vertical-align: middle;
}

.inFalha, .inCicloTest, .inCicloPass{
  height: 3rem;
  text-transform: uppercase;
  border: solid 1px;
  border-radius: 3px;
  border-color: rgb(77, 20, 118);
}

.btSubmit {
  background: linear-gradient(90deg, rgba(255,96,0,1) 0%, rgba(255,75,110,1) 49%, rgba(195,9,43,1) 100%);
  font-size: 18px;
  color: #fff;
  width: 70%;
  height: 2.5rem;
  margin-top: 2rem;
  border: solid 1px;
  border-radius: 3px;
  border-color: rgb(77, 20, 118);
}

.exportCSV {
  display: block;
  text-align: center;
  margin-bottom: 1rem;
}

.alert-success, .alert-warning {
  position: fixed;
  width: 100%;
  bottom: -100px;
  padding: 20px 10px;
  transition: 1s ease-in-out;
  color: white;
  opacity: 0;
}

.show-success {
  display: block;
  transition:  1s ease-in-out;
  background-color: #60BAAE;
  opacity: 1;
  position: fixed; 
  bottom:0;
  width:100%; 
}

.show-warning {
  display: block;
  transition:  1s ease-in-out;
  background-color: #ff9800;
  opacity: 1;
  position: fixed; 
  bottom:0;
  width:100%; 
}