:root {
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden
}

header {
  background-color: rgb(77, 20, 118);
  color: #fff;
  width: 100%;
}

header img {
  display: inline-block;
  width: 120px;
}

header h1 {
  width: 100%;
  height: 5rem;
  text-align: center;
  font-size: 34px;
}

.form {
  text-align: center;
}

.inputSerial, .inputTipos, .inputFalhas {
  margin: 4rem 0;
}

.inputFalhas {
  display: none;
}

.toggleInputFalhas {
  display: block;
}

.inSerial {
  width: 72%;
  height: 3rem;
  text-align: center;
  font-size: 26px;
  margin: .7rem 0;
  text-transform: uppercase;
  border: solid 1px;
  border-radius: 3px;
  border-color: rgb(77, 20, 118);
}

.btTipoContainer {
  display: flex;
  justify-content: space-evenly;
  margin: .7rem 0;
}

.selectTipo {
  font-size: 20px;
  width: 30%;
  height: 3rem;
  border: solid 1px;
  border-radius: 3px;
  border-color: rgb(77, 20, 118);
  background-color: #eee;
}

.selectTipo:hover {
  background-color: #ddd;
}

label {
  font-size: 26px;
  font-weight: 600;
}

.LabelContainer, .inputContainer {
  display: flex;
  justify-content: space-evenly;
}

.labelCiclo, .inCicloTest, .inCicloPass, .labelFalha, .inFalha {
  font-size: 20px;
  font-weight: 400;
  width: 30%;
  height: 1.5rem;
  text-align: center;
  padding: 6px 1px;
}

.inFalha, .inCicloTest, .inCicloPass{
  text-transform: uppercase;
  border: solid 1px;
  border-radius: 3px;
  border-color: rgb(77, 20, 118);
}

.btSubmit {
  background: linear-gradient(90deg, rgba(255,96,0,1) 0%, rgba(255,75,110,1) 49%, rgba(195,9,43,1) 100%);
  font-size: 18px;
  color: #fff;
  width: 70%;
  height: 2.5rem;
  margin-top: 2rem;
  border: solid 1px;
  border-radius: 3px;
  border-color: rgb(77, 20, 118);
}

.exportCSV {
  display: block;
  text-align: center;
}

.alert-success, .alert-warning {
  position: absolute;
  width: 100%;
  bottom: -100px;
  padding: 20px 10px;
  color: white;
  transition: 1s ease-in-out;
}

.show-success {
  display: block;
  bottom: 20px;
  transition:  1s ease-in-out;
  background-color: #60BAAE;
}

.show-warning {
  display: block;
  bottom: 20px;
  transition:  1s ease-in-out;
  background-color: #ff9800;
}